*{
  font-family: 'Halant', serif;
}
* i.fa{
  color: #FF4500;
}
#header {
  background-image: url("../assets/backgrounds/landing.jpg");
  height: 640px;
  color: #ffffff;
  font-family: 'Halant', serif;
  font-weight: 'light';
  text-align: center;
}
#btnfa{
  float: left;!impoertant
  color: Transparent
  background: Transparent;
}
#logobig{
  display: block;
    margin: auto;
    padding-top: 130px;
    padding-bottom: 30px;
}
#row2{
  height: 210px;
}
#happyhour{
  font-family: 'Halant', serif;
  background-color: #FFFFFF;
  color: grey;
  text-align: center;
  height: 105px;

}
#happyparty{
  padding: 0px;
  margin: 0px;
}
#partytime{
  font-family: 'Halant', serif;
  background-color: #FF4500;
  color: #FFFFFF;
  text-align: center;
  height: 105px;
  padding-right: 0px; !important
}
#breakfast{
  background-image: url("../assets/foodtop/breakfast.jpg");
  text-align: center;
  color: #FFFFFF;

}
#lunch{
  background-image: url("../assets/foodtop/lunch.jpg");
  text-align: center;
  text-indent: center;
  color: #FFFFFF;
}
#dinner{
  background-image: url("../assets/foodtop/dinner.jpg");
  text-align: center;
  color: #FFFFFF;
}
#happyhour:hover,#partytime, #dinner:hover,#breakfast:hover,#lunch:hover{
	opacity: 0.7;
}

#fastfoodimage{
  text-align: right;
  padding-top: 50px;
}
#fastfoodtext{
  padding: 50px;
  float: right;
  text-align: left;
}
#viewgallarybtn{
  color: #FF4500;
  border-color: #FF4500;
}
#textdrinks{
  text-align: right;
  padding: 50px;
}
#imgdrinks{
  padding: 50px;
  padding-left: 0px;
  border-color: #f2f2f2;
  border-width: thick;
}
#row4{
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  height: 599px;
}
#food{
  background-color: #FFFFFF;
  margin: 10%;
  margin-left: 10%;

}
#food img{
  padding: 1.5%;
}
#aboutcustomers.p {
  color: #FF4500;

}
#aboutcustomers{
  margin: 8%;
  margin-left: 10%;
  background-color: #f2f2f2;
  padding:30px;
  box-shadow: 5px 5px 5px 5px grey;
}
#aboutcustomers h2{
  color: #FF4500;

}
#customer{
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#about{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
#row6{
  background-image: url("../assets/backgrounds/subscribe.jpg");
  height: 301px;
}
